<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%=csrfToken%>" />
    <title>To-Do Manager</title>
    <link rel="stylesheet" href="./css/styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script>
      var token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
      function updateTodo(id,checkbox){
        const isChecked = checkbox.checked;
        console.log(isChecked);
        fetch(`/todos/${id}`,{
          method:'put',
          headers:{ 'Content-Type':'application/json'},
          body: JSON.stringify({
            _csrf: token,
            completed:isChecked
          }),
        })
        .then((res)=>{
          if (res.ok) {
                    window.location.reload();
                }
        })
        .catch((err)=>{console.log(err)});
      }

      function deleteTodo(id){
        fetch(`/todos/${id}`,{
          method:'delete',
          headers:{ 'Content-Type':'application/json'},
          body: JSON.stringify({
            _csrf: token,
          }),
        })
        .then((res)=>{
          if (res.ok){
            window.location.reload();
          }
        })
        .catch((err)=>console.log(err));
      }
    </script>
  </head>
  <body>
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <%- include('header.ejs')%>
        <a href="/signout">Signout</a>
        <form action="/todos" method="post">
          <input type="hidden" name="_csrf" value="<%=csrfToken%>">
          <div class="flex gap-2 py-4">
            <div class="flex-auto">
              <input
                type="text"
                name = "title"
                placeholder="what's next?"
                class="border rounded border-gray-300 text-gray-900 w-full p-2 text-sm"
                required
              />
            </div>
            <div class="flex-auto">
              <input
                type="date"
                name="dueDate"
                class="border rounded border-gray-300 text-gray-900 w-full p-2 text-sm"
                required
                />
            </div>
            <div class="flex-none">
              <button
                type="submit"
                class="bg-green-600 text-white px-5 py-1.5 rounded font-medium mr-2 mb-2"
              >
                Add
              </button>
            </div>
          </div>
        </form>

        <%- include('todo.ejs')%> 
        <%- include('footer.ejs')%>

        <% if(messages && messages.error && messages.error.length > 0)  { %>
          <% for(var i=0; i<messages.error.length; i++) { %>
            <li> <%= messages.error[i] %></li>
            <% } %>
            <% } %>
  </body>
</html>
